<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Renci.SshNet" publicKeyToken="1cee9f8bde3db106" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2025.1.0.1" newVersion="2025.1.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="Accounting_liveEntities1" connectionString="metadata=res://*/Acct_Live.csdl|res://*/Acct_Live.ssdl|res://*/Acct_Live.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WCSERVER2\SQLEXPRESS;initial catalog=Accounting_live;integrated security=True;multipleactiveresultsets=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="ZKAccessEntities" connectionString="metadata=res://*/ModelTK.csdl|res://*/ModelTK.ssdl|res://*/ModelTK.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WCSERVER2\sqlexpress;initial catalog=ZKAccess;user id=NOBODY;password=BOGUS;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="WoodClubEntities" connectionString="metadata=res://*/ModelWC.csdl|res://*/ModelWC.ssdl|res://*/ModelWC.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WCSERVER2\SQLEXPRESS;initial catalog=WoodClub;user id=memberapp;password=member;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>